/* ==========================================================================
   Botoes
   ========================================================================== */

.btn-close{
    display: block;
    background-color: #fff;
    border: 1px solid crimson;
    position: absolute;
    border-radius: 10px;
    top: -17px;
    right: -50px;
    font-size: 12px;
    padding: 5px 15px;
    color: crimson;
    cursor: pointer;
}

.btn-reset{
    padding: 5px 15px;
    color: #fff;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
}