/* ==========================================================================
   Geral
   ========================================================================== */


body {
  font-family: 'robotoregular', sans-serif;
  color: #666666;
  background-color: #ffffff;
}

.mainGame{
  position: relative;
}

.enemy,
.boat{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &.right{
    right: -150px;
    transform: scaleX(-1) translateY(-50%);
  }
  &.left{
    left: -150px;
  }
}

.boat{
  &.right{
    right: -250px;
  }
  &.left{
    left: -250px;
  }
}

.char{
  position: absolute;
  bottom: 10px;
  left: calc(50% - 50px);
  z-index: 2;
  width: 50px;
  height: 50px;
  background: blue;
  border-radius: 50%;
}
