/* ==========================================================================
   Geral
   ========================================================================== */


body {
  font-family: 'robotoregular', sans-serif;
  color: #666666;
  background-color: #ffffff;
}

.mainGame{
  position: relative;
}

.line{
  position: relative;
  overflow: hidden;
  height: 70px;

  &.street{
    background: url('../img/street_background.jpg') no-repeat center;
    background-size: cover;
  }
  &.sidewalk{
    background-color: #eeeeee;
  }
  &.river{
    background-color: #7ED7E5;
  }
  &.grass{
    background-color: #ACC754;
  }
}

.enemy,
.boat{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // transition: 0.6s;
  &.right{
    right: -150px;
    transform: scaleX(-1) translateY(-50%);
  }
  &.left{
    left: -150px;
  }
}

.boat{
  &.right{
    right: -250px;
  }
  &.left{
    left: -250px;
  }
}

.char{
  position: absolute;
  bottom: 10px;
  left: calc(50% - 50px);
  z-index: 2;
  width: 50px;
  height: 50px;
  background: blue;
  border-radius: 50%;
}